<!DOCTYPE html>
<html>
<head>
  <title>Noteful</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class='main'>
    <nav class='clearfix'>
      <ul class="pull-left">
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete%></li>
        <% else %>
          <li><span id="Sign Up"><%= link_to "Sign Up", new_user_registration_path %></span></li>
          <li><span id="Log In"><%= link_to "Log In", new_user_session_path %></span></li>
        <% end %>
      </ul>
    </nav>
    <div class='content'>
      <p class="flash"><%= flash.notice %></p>
      <%= yield %>
     </div>
  </div>

</body>
</html>
